<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
        <title>Login</title>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <div class="logo-container">
                <p>jokiTugas<span>Python</span></p>
            </div>
            <div class="form-container">
                <form id="LoginForm" action="/login" method="post">
                    <h2>Login</h2>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required />

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required />

                    <button type="submit">Masuk</button>
                </form>
                {% if eror %}
                <p style="color: red; font-size: 14px">{{eror}}</p>
                {% endif %}

                <!-- Tambahkan link registrasi di sini -->
                <p>Belum punya akun? <a href="/register">Daftar disini</a></p>
            </div>
        </div>
    </body>
</html>
